*{
    margin:0;
    color:white;
}
button, input{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    height: 100vh;
}

.output{
    height:70vh;
    width:45vw;
    border-radius:10px;
    overflow-y: scroll;
    font-size:large;
}
.suggestion{
    height:70vh;
    max-width: 20vw;
    overflow-y: scroll;
    border-radius:20px;
}
.suggestionAndOutput{
    width: 70vw;
    display:flex;
    justify-content: space-between;
}